/*Start of Top content*/
.garden-bgimg {
    background-image: url(../images/garden.jpg) !important;
    min-height: 380px !important;
}

.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
   
}

.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
}
.flip .card .front img{
  width: 270px;
  height: 100%;
}
.flip .card .img {
   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  position: absolute;
}
.inner{
  margin:0px !important;
  width: 270px;
}
.garden-subtitle-h4 {
  background-color: #edffd3;
  color: #69a911;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  width: fit-content;
}
/* Specials Section */
.section-specials {
  padding: 4rem 0;
  background-color: #f9f9f9;
}
button {
    border: 1px #69a911 solid;
    color: #ffffff;
    border-radius: 30%;
    width: fit-content;
    padding: 10px;
    background-color: transparent;
}

/* Change button color on hover */
button:hover {
  background-color: #69a911; /* Color on hover */
}
#specials h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  color: #333;
}

.plan-box,
.card-body {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  transition: transform 0.3s ease-in-out;
}

.plan-box:hover,
.card-body:hover{
  transform: translateY(-5px);
}

.plan-box h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.plan-price {
  font-size: 36px;
  color: #69a911;
  margin-bottom: 10px;
}

.plan-price span {
  font-size: 18px;
  color: #333;
}

.plan-price-meal {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.plan-icons {
  color: #69a911;
  font-size: 18px;
  margin-right: 10px;
}

.btn {
  display: inline-block;
  background-color: #69a911;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #4c7d0e;
}

/* Garden Services Section */
.garden-services {
  padding: 4rem 0;
}

.garden-services h3 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.garden-services p {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}

.service-image {
  width: 372px;
  height: 434px;
}

.service-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .garden-services h3 {
    font-size: 24px;
  }

  .garden-services p {
    font-size: 16px;
  }
}
